#vertical-bar {
    border-left: 2px solid #ffffff;
    width: 2px;
    height: 65px;
    margin-left: 265px;
}

/*html,body {
overflow:hidden;
}
*/
/*th {
    text-align: center;
  
}
.align {
    text-align: left;
}

table {
    table-layout: fixed;
}
td {
    width: 25%;
}
tbody {
    display: block;
    height: 500px;
    overflow: auto;
}
thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
*/
/* 
table {
    border-collapse: collapse;
    border-spacing: 0;
    max-width: auto;
    max-width: auto;
    width: auto;
}

table.dataTable {
    margin: 0 !important;
}


tables
----------------------------------------------------------*/


.modal {
    text-align: center;
    padding: 0!important;
}
.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
span {
    font-size: 14px;
}
input, select, textarea {
    font-size: 12px;
}
.table-hover tbody tr:hover td {
    background-color: #A0E1EE;
}

table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

.checkboxRow{
    width: 15px;
}

.cidRow{
    width: 110px;
}

.integerRow{
    width: 10px;
}

.longIntegerRow{
    width: 90px;
}

.actionRow{
     width: 80px;
}

.textRow{
    width: 160px;
}
