#vertical-bar {
    border-left: 2px solid #ffffff;
    width: 2px;
    height: 65px;
    margin-left: 265px;
}

.modal {
    text-align: center;
    padding: 0!important;
}
.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
span {
    font-size: 14px;
}
input, select, textarea {
    font-size: 14px;
}
.table-hover tbody tr:hover td {
    background-color: #A0E1EE;
}

table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

.checkboxRow{
    width: 15px;
}

.cidRow{
    width: 110px;
}

.integerRow{
    width: 10px;
}

.longIntegerRow{
    width: 90px;
}

.actionRow{
     width: 80px;
}

.textRow{
    width: 160px;
}
.row-style{background-color: #FFFFCC !important;
color: blue;}
